@model gestao.Data.Entities.ProgressaoCarreira

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ProgressaoCarreira</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProgressao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProgressao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Carreira)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Carreira.Iso5)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProgressaoCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
