@model IEnumerable<gestao.Data.Entities.ProgressaoCarreira>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProgressao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Carreira)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProgressao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carreira.Iso5)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProgressaoCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProgressaoCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProgressaoCode">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
