@model Tarefa
@{
    ViewData["Title"] = "CriarEditar";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="pd-15">
                <h1 class="title">
                    Criar nova tarefa<br />
                </h1>
                <hr />
                <p class="subtitle">Entre com uma tarefa e especifique para quem você vai atribuí-la. <strong>Lembre-se 
                 que o funcionário deve ser capaz de executá-la com sucesso.</strong></p>
                <form asp-controller="Tarefas" asp-action="CriarEditar">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label asp-for="Titulo">Nome Tarefa</label>
                            <input class="form-control" asp-for="Titulo" />
                            <span asp-validation-for="Titulo" class="text-danger"></span>
                        </div>
                        <div class="col-md-10 mb-10">
                            <label asp-for="Descricao">Descrição da Tarefa</label>
                            <textarea asp-for="Descricao" class="form-control" cols="20" id="Description" rows="5"></textarea>
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>

                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(x => x.CategoriaId, "Categoria da Tarefa")
                            @Html.DropDownListFor(x => x.CategoriaId, (List<SelectListItem>)ViewBag.Categorias, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.CategoriaId)
                        </div>
                        <div class="col-md-4 mb-4">
                            <label asp-for="DataLimite">Informe a data limite para fazer a tarefa no <strong>formato dd/mm/yyyy hh:mm</strong></label>
                            <input asp-for="DataLimite" type="datetime-local" class="form-control" />
                            <span asp-validation-for="DataLimite" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-3 mb-3">
                            <label asp-for="Funcionario">Quem vai executar tarefa</label>
                            <input asp-for="Funcionario"  class="form-control" />
                            <span asp-validation-for="Funcionario" class="text-danger"></span>
                        </div>
                       
                        <div class="col-md-10 mb-10">
                            <label asp-for="Notas">Notas</label>
                            <textarea asp-for="Notas" class="form-control" cols="20" rows="5"></textarea>
                            <span asp-validation-for="Notas" class="text-danger"></span>
                        </div>
                        <div class="col-md-3 mb-3">
                            @Html.LabelFor(x => x.Feita, "Foi Feita ?")
                            @Html.CheckBoxFor(x => x.Feita)
                            @Html.ValidationMessageFor(x => x.Feita)
                        </div>
                    </div>
                    <button class="btn btn-red btn-sm float-left">Cancel</button>
                    <button class="btn btn-green btn-sm float-left mr-1">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>



