@* 
USANDO ANGULAR
@section Scripts {
  <script src="~/clientapp/runtime-es5.js"></script>
  <script src="~/clientapp/polyfills-es5.js"></script>
  <script src="~/clientapp/styles-es5.js"></script>
  <script src="~/clientapp/vendor-es5.js"></script>
  <script src="~/clientapp/main-es5.js"></script>
}
<lista-app></lista-app>
 *@
@model gestao.Views.App.PaginatedList<gestao.Data.Entities.Funcionario>
    <div class="container-fluid">
      <div class="row">
        <div class="card col-md-12">
           <div class="pd-15">
              <h1 class="title">@ViewBag.Title</h1>
              <p class="subtitle">Relação de funcionários cadastrados</p>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-5">
                          <form asp-action="ListarFuncionarios" method="get">
                              <div class="input-group">
                                  <input type="text" name="SearchString" value="@ViewData["FiltroAplicado"]" class="form-control" placeholder="search" />
                                  <div class="input-group-append">
                                      <span class="input-group-text btn-search">
                                          <input type="submit" value="Search" class="fa fa-search" aria-hidden="true" />
                                          <a asp-action="ListarFuncionarios" class="fa fa-eraser">Retornar</a>
                                      </span>
                                  </div>
                              </div>
                          </form>
                      </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-style table-sm">
                            <thead>
                                <tr>
                                    <th class="text-center">Matricula</th>
                                    <th>Nome</th>
                                    <th>Setor</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                              @foreach (var funcionario in Model)
                              {   
                                <tr>
                                    <th class="text-center">@funcionario.matricula</th>
                                    <td><a asp-controller="App" asp-action="Detalhe" asp-route-funcionarioId="@funcionario.FuncionarioId">@funcionario.nome</a></td>
                                    <td>@funcionario.setor</td>
                                    <td>
                                        <p class="button"><a class="btn btn-primary" asp-controller="CarrinhoFicha" asp-action="AdicionarFuncionarioNoCarrinhoFicha" asp-route-funcionarioId="@funcionario.FuncionarioId">Adicionar Ficha</a></p>
                                    </td>
                                    <td>
                                        <p class="button"><a class="btn btn-grey" asp-controller="App" asp-action="EditarFuncionario" asp-route-Id="@funcionario.FuncionarioId">Editar</a></p>
                                    </td>
                                    <td>
                                        <p class="button"><a class="btn btn-danger" asp-controller="App" asp-action="DeletarFuncionario" asp-route-Id="@funcionario.FuncionarioId">Deletar</a></p>
                                    </td>
                                </tr> 
                              }
                            </tbody>
                          </table>
                        @{ 
                            var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                            var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                        }
                          <nav aria-label="Page navigation">
                            <ul class="pagination float-right">
                              <li class="page-item">
                                <a asp-action="ListarFuncionarios"
                                   asp-route-pageNumber="@(Model.PageIndex -1)"
                                   asp-route-filtroAtual="@ViewData["FiltroAplicado"]"aria-label="Previous" class="btn btn-red btn-sm @prevDisabled">
                                  Anterior
                                </a>
                              </li>
                              @*<li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>*@
                              <li class="page-item">
                                  <a asp-action="ListarFuncionarios"
                                     asp-route-pageNumber="@(Model.PageIndex +1)"
                                     asp-route-filtroAtual="@ViewData["FiltroAplicado"]" aria-label="Next" class="btn btn-green btn-sm @nextDisabled">
                                      Avan&#231ar
                                  </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                  </div>
              </div>
           </div>
        </div>
      </div>
    </div>
  