@page
@model RegisterModel
@{
    
    var roles = (List<IdentityRole>)ViewData["roles"];
}



@*<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Criar uma conta para o Sistema Auxiliar do Gestão de Pessoas</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.NomeCompleto"></label>
                <input asp-for="Input.NomeCompleto" class="form-control" />
                <span asp-validation-for="Input.NomeCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.DataIngressoSetor"></label>
                <input asp-for="Input.DataIngressoSetor" class="form-control" />
                <span asp-validation-for="Input.DataIngressoSetor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Role"></label>
                <select asp-for="Input.Role" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                </select>
                <span asp-validation-for="Input.Role" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use sua conta do IFMG para fazer o login no sistema</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            No momento não podemos usar a autenticação do Google.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

<div class="container-fluid">
    <div class="row">
        <div class="card col-md-8">
            <div class="pd-15">
                <h1 class="title">Criar uma conta para o Sistema Auxiliar do Gest&atilde;o de Pessoas</h1>
                <hr />
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.NomeCompleto"></label>
                            <input asp-for="Input.NomeCompleto" class="form-control" />
                            <span asp-validation-for="Input.NomeCompleto" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.DataIngressoSetor"></label>
                            <input asp-for="Input.DataIngressoSetor" class="form-control" />
                            <span asp-validation-for="Input.DataIngressoSetor" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.Role"></label>
                            <select asp-for="Input.Role" class="form-control" asp-items='new SelectList(roles,"Id","Name")'>
                            </select>
                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-green btn-sm float-right mr-1">Registrar</button>
                </form>
            </div>
        </div>
        <div class="card col-md-4">
            <div class="pd-15">
                <h1 class="title">Use sua conta do IFMG para fazer o login no sistema</h1>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                No momento não podemos usar a autenticação do Google.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-info btn-sm float-right mr-1" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}