@* @model ListaFuncAdminViewModel
<!-- 
  Comentários:  
  A diretiva chamada model especifica o tipo que irei tratar nessa view. Nesse caso 
  estou indicando para a view que estou recebendo uma lista de Funcionario. Nesse 
  casso estou informando à view que ela é fortemente tipada  
-->
@{
    ViewData["Title"] = "Mostrar Carreira dos Funcioanarios";
}
<div class="container-fluid">
      <div class="row">
        <div class="card col-md-12">
           <div class="pd-15">
              <h1 class="title">@ViewBag.Title</h1>
              <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sum dolor sit amet<br/> sed do eiusmod tempor incididunt ut</p>
              
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                      <div class="col-md-8">
                        <select class="col-md-1 form-control" name="qtd">
                          <option value="10">10</option>
                          <option value="20">20</option>
                        </select>
                      </div>
                      <div class="col-md-4">
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="search" />
                            <div class="input-group-append">
                              <span class="input-group-text btn-search">
                                <i class="fa fa-search" aria-hidden="true"></i>
                              </span>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-style table-sm">
                            <thead>
                              <tr>
                                <th class="text-center">Matricula</th>
                                <th>Nome</th>
                                <th>Nível de Classificação</th>
                                <th>Nível de Capacitação</th>
                                <th>Nível de Progressão</th>
                              </tr>
                            </thead>
                            <tbody>
                              <!--
                                Aqui temos a propriedade Mode (M maiusculo) que é da página
                                Ela é utilizada apenas para acessar o tipo que é passado na view
                                Assim o model é a diretiva que especifica o tipo e Model é a propriedade
                                que acessa o tipo
                               -->
                                @foreach (var func in Model.Funcionarios)
                                {
                             <tr>
                                <td>@Html.DisplayFor(modelItem => func.FuncionarioId)</td>
                                <td>@Html.DisplayFor(modelItem => func.nome)</td>
                                <td>@Html.DisplayFor(modelItem => func.carreiraAdministrativa.nivelClassificacaoAdmin)</td>
                                <td>@Html.DisplayFor(modelItem => func.carreiraAdministrativa.nivelCapacitacaoAdmin)</td>
                                <td>@Html.DisplayFor(modelItem => func.carreiraAdministrativa.nivelProgressaoMeritoAdmin)</td>
                                <td>

                                 <p class="button"><a class="btn btn-primary" asp-controller="CarrinhoFicha" asp-action="AdicionarFuncionarioNoCarrinhoFicha" asp-route-funcionarioId="@func.FuncionarioId">Adicionar Ficha</a></p> 
                                </td>
                             </tr>
                             
                                } 
                            </tbody>
                          </table>
                          <nav aria-label="Page navigation">
                            <ul class="pagination float-right">
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                    </div>
                  </div>
              </div>
           </div>
        </div>
      </div>
      </div> *@
